html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title FruitInfo
	body
		div Title 			: #{fruitInfo.title}
		div id   			: #{fruitInfo.id}
		div Total Links 		: #{fruitInfo.count}
		div Page rank val 		: #{fruitInfo.pageRankVal}
		div Total Links      : #{fruitInfo.links.length}
		br
		br
		div Page Info 		: #{fruitInfo.body}
		br
		br
		div Links List
		- for(let i=0;i<fruitInfo.links.length; i++){
				a(href = fruitInfo.links[i]) #{fruitInfo.links[i]}
				br
		- }
		br
		br
