html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title FruitInfo
	body
		div Title 			: #{personalInfo.title}
		div id   			: #{personalInfo.id}
		div Total Links 		: #{personalInfo.count}
		div Page rank val 		: #{personalInfo.pageRankVal}
		div Total Links      : #{personalInfo.links.length}
		br
		br
		div Page Info 		: #{personalInfo.body}
		br
		br
		div Links List
		- for(let i=0;i<personalInfo.links.length; i++){
				a(href = personalInfo.links[i]) #{personalInfo.links[i]}
				br
		- }
		br
		br
